In [42]:
import glob, os, pandas as pd, numpy as np
from tslearn.metrics import soft_dtw, dtw
from tslearn.clustering import TimeSeriesKMeans

In [2]:
data_list = glob.glob('../03_VARS_DATA/*.csv')

In [58]:
def get_dtw(in_data, method, variable_nms):

    rst_dtw = np.zeros((in_data.shape[1], in_data.shape[1]))

    col_nms, var_set, clu_method = [], [], []
    
    for i in range(in_data.shape[1]):
        col_nms.append(in_data.columns[i].split('_')[-1])
        var_set.append(variable_nms)
        clu_method.append(method)
        
        if 'DTW' == method:
            
            for j in range(in_data.shape[1]):
                rst_dtw[i,j] = dtw(in_data.iloc[:,i], in_data.iloc[:,j])
        
        elif 'SOFT_DTW' == method:
            
            for j in range(in_data.shape[1]):
                rst_dtw[i,j] = soft_dtw(in_data.iloc[:,i], in_data.iloc[:,j])

    rst_dtw_df = pd.DataFrame(rst_dtw)
    rst_dtw_df.columns = col_nms
    rst_dtw_df.index   = [var_set, clu_method, col_nms]
    
    return rst_dtw_df

In [84]:
all_time_kmean_rst = {}

for path in data_list:
    var_nm = path.split('\\')[-1].split('.')[0]
    print('%10s'%var_nm, ' :: ', path)
    data = pd.read_csv(path, parse_dates=['Date'], index_col=0).dropna(axis=0)
    
    dtw_rst  = get_dtw(data, 'DTW', variable_nms=var_nm)
    sdtw_rst = get_dtw(data, 'SOFT_DTW', variable_nms=var_nm)
    
    # dtw_con  = dtw_rst.append([dtw_rst, soft_dtw])

#     t_km_rst = []
#     for i in range(1,9):
#         model = TimeSeriesKMeans(n_clusters=i, metric="dtw", max_iter=10)
#         model.fit(data)
#         print(i, ':: ', f'Inertia: {model.inertia_}')
#         t_km_rst.append(model.inertia_)

#     all_time_kmean_rst[var_nm] = t_km_rst

        AT  ::  ../03_VARS_DATA\AT.csv
    AT_Max  ::  ../03_VARS_DATA\AT_Max.csv
    AT_Min  ::  ../03_VARS_DATA\AT_Min.csv
       BOD  ::  ../03_VARS_DATA\BOD.csv
    CH_Ave  ::  ../03_VARS_DATA\CH_Ave.csv
    CH_Top  ::  ../03_VARS_DATA\CH_Top.csv
       COD  ::  ../03_VARS_DATA\COD.csv
    CY_Dom  ::  ../03_VARS_DATA\CY_Dom.csv
       DOC  ::  ../03_VARS_DATA\DOC.csv
       DTN  ::  ../03_VARS_DATA\DTN.csv
       DTP  ::  ../03_VARS_DATA\DTP.csv
        EC  ::  ../03_VARS_DATA\EC.csv
     ECOLI  ::  ../03_VARS_DATA\ECOLI.csv
        FR  ::  ../03_VARS_DATA\FR.csv
        GS  ::  ../03_VARS_DATA\GS.csv
       MIB  ::  ../03_VARS_DATA\MIB.csv
      NH3N  ::  ../03_VARS_DATA\NH3N.csv
      NO3N  ::  ../03_VARS_DATA\NO3N.csv
        PH  ::  ../03_VARS_DATA\PH.csv
        RA  ::  ../03_VARS_DATA\RA.csv
        SS  ::  ../03_VARS_DATA\SS.csv
     TCOLI  ::  ../03_VARS_DATA\TCOLI.csv
      TEMP  ::  ../03_VARS_DATA\TEMP.csv
        TN  ::  ../03_VARS_DATA\TN.csv
       TOC  ::  ../03_VARS_DATA\TOC.csv
        TP  ::  ../03_VARS_DATA\TP.csv
        WL  ::  ../03_VARS_DATA\WL.csv
    WV_Ave  ::  ../03_VARS_DATA\WV_Ave.csv
    WV_Max  ::  ../03_VARS_DATA\WV_Max.csv
WV_Max_Vec  ::  ../03_VARS_DATA\WV_Max_Vec.csv

In [83]:
dtw_rst

                     chilgok      dalsung     goryeong         gumi  \
AT DTW chilgok      0.000000   816.852000   784.381291  1329.868704
       dalsung    816.852000     0.000000   182.906588   901.973514
       goryeong   784.381291   182.906588     0.000000   902.673679
       gumi      1329.868704   901.973514   902.673679     0.000000
       haman     1266.122609   912.095412   918.320331   352.945562
       hapcheon  1281.535524   899.695226   911.839575   252.119376
       nakdan     725.154584  1044.510661  1052.984012  1196.452983
       sangju     684.153082  1024.984439  1027.412493  1204.613577

                       haman     hapcheon       nakdan       sangju
AT DTW chilgok   1266.122609  1281.535524   725.154584   684.153082
       dalsung    912.095412   899.695226  1044.510661  1024.984439
       goryeong   918.320331   911.839575  1052.984012  1027.412493
       gumi       352.945562   252.119376  1196.452983  1204.613577
       haman        0.000000   273.977554  1157.235093  1143.241020
       hapcheon   273.977554     0.000000  1181.404533  1167.513567
       nakdan    1157.235093  1181.404533     0.000000   104.598231
       sangju    1143.241020  1167.513567   104.598231     0.000000

In [82]:
dtw_rst.append(soft_dtw)

TypeError: cannot concatenate object of type '<class 'function'>'; only Series and DataFrame objs are valid

In [72]:
pd.concat

TypeError: Can only merge Series or DataFrame objects, a <class 'list'> was passed

In [66]:
all_time_kmean_rst = {}

t_km_rst = []
for i in range(1,9):
    model = TimeSeriesKMeans(n_clusters=i, metric="dtw", max_iter=10)
    model.fit(data)
    print(i, ':: ', f'Inertia: {model.inertia_}')
    t_km_rst.append(model.inertia_)

all_time_kmean_rst[var_nm] = t_km_rst

1 ::  Inertia: 404796.63077182346
2 ::  Inertia: 134778.688253749
3 ::  Inertia: 84912.56973088846
4 ::  Inertia: 51049.66539980227
5 ::  Inertia: 34675.60191441064
6 ::  Inertia: 27863.018681054073
7 ::  Inertia: 21064.22728133489
8 ::  Inertia: 14817.847040991557

In [67]:
all_time_kmean_rst

{'AT': [404796.63077182346,
  134778.688253749,
  84912.56973088846,
  51049.66539980227,
  34675.60191441064,
  27863.018681054073,
  21064.22728133489,
  14817.847040991557]}

In [65]:
model.inertia_

2240030.2757235025

In [54]:
model.inertia_

22085971.879195392

In [55]:
print(f'cluster_center {model.cluster_centers_}')

cluster_center [[[3038.24910714]
  [3765.05243902]
  [3793.36411765]
  [5029.09259259]
  [4199.93478261]
  [4208.27515528]
  [5686.13553459]
  [3365.00954357]]]